# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcworkspace/
xcuserdata/
*.xcuserstate

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Firebase / Secrets
GoogleService-Info.plist
*.xcconfig
.env

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Others
*.key
*.pem

